.navhorizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: block;
}

.navhorizontal li {
  float: left;
  display: inline;
}

.navhorizontal li a {
  
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navhorizontal li a:hover {
  text-decoration: none;
  color: black;
}



ul .navbarform {
width: 800px;
align-self: center;

}
