.navvertical {
  list-style-type: none;
  width: 200px;
  background-color: #f1f1f1;
  margin-top: 500;
  display: block;
}

.navvertical li a {
  display: block;
  color: #000;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
}
.navvertical span {
  padding-right: 8px;
  padding-left: 0px;
}

.vertical {
  height: 65%;
  width: 240px;
  position: fixed;
  display: block;
  padding-top: 5px;
  background-color: #f1f1f1;
}

.links:hover {
  color: red;
}
.links:active {
  color: red;
}

#selected {
  color: red;
  font-weight: bold;
}
