.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 1rem 0;
    margin: 0 1.5rem;
    border-bottom: 4px solid #CCC;
  }
  
  .video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
  }
  
  .video-section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
  }

  .video-container {
    display: flex;
    flex-direction: column;
  }

