.navvertical-subs {
  list-style-type: none;
  width: 200px;
  background-color: #f1f1f1;
  margin-top: 500;
  display: block;
}

.navvertical-subs li a {
  display: inline;
  color: #000;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
  width: 50%;
}
.navvertical-subs li span {
  padding-right: 8px;
  padding-left: 0px;
  width: 50%;
  display: inline;
}
.navvertical-subs li {
  display: block;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 20px;
}

.vertical-subs {
  height: 33%;
  width: 240px;
  position: fixed;
  display: block;
  margin-top: 445px;
  padding-top: 10px;
  background-color: #f1f1f1;
  overflow-y: scroll;
  
}
.subs-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #aaa;
}
